<div class="alert alert-success" role="alert">
  <p id="notice"><%= notice %></p>
</div>

<div class="page-header">
  <h1>Finish Homework<%= @task.description %></h1>
  <%= link_to 'Edit', edit_task_path(@task) %>

</div>




<ol class="breadcrumb">
  <li><a href="/tasks">Tasks</a></li>
  <li class="active">Finish Homework</li>
</ol>
