<html>

<img src = "http://cdn.newadnetwork.com/sites/prod/files/styles/gallery/public/article/surf-glowing-bioluminescent-maldives-166538.jpg" />

</html>

<%= image_tag('http://cdn.newadnetwork.com/sites/prod/files/styles/gallery/public/article/surf-glowing-bioluminescent-maldives-166538.jpg') %>
<!-- <%= image_tag('')%> how to put image in HTML using HTML.erb -->



<% @array.each do |number| %>
 <h1> <%= number %> </h1>
<% end %>
